:root {
    --main-red: #c11515;
    --main-grey: #484848;
    --main-blue: #175b93;
    --secondary-grey: #c5c5c5;
    --clock-grey: #2e2e2e;
}

.about-me h1 {
    color: var(--main-blue);
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    font-family: 'Nanum Myeongjo', serif;
    margin-bottom: 100px;
}

/* .row {
    display: flex;
} */

.rocket-scene {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; /*change*/
    width: 100%;
    height: 70vh; /*change here from 50 to 70 LOOKS FINE ON PLANE */
    max-height: 600px;
    /* background: black; */
}

.rocket-scene i {
    position: absolute;
    top: -100px; /* changed from -250 to -100 on plane */
    background: var(--secondary-grey);
    animation: animateStars linear infinite;
}
@keyframes animateStars {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(90vh);
    }
}

.rocket-scene .rocket {
    position: relative;
    animation: animateRocket 0.2s ease infinite;;
}
@keyframes animateRocket {
    0%, 100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

.rocket-scene .rocket::before {
    content: '';
    position: absolute;
    bottom: -188px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 200px;
    background: linear-gradient(var(--main-blue), transparent);
}

.rocket-scene .rocket::after {
    content: '';
    position: absolute;
    bottom: -188px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 200px;
    background: linear-gradient(var(--main-blue), transparent);
    filter: blur(20px);
}

.rocket-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 150px; 
    /* Adjust this value to control the height */
}

#tab1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    align-items: center;
}

#tab1 h2 {
    color: var(--main-blue);
    text-align: center;
    font-size: 40px;
    font-family: 'Nanum Myeongjo', serif;
    margin-top: 50px;

    animation-name: slideInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

#tab1 p {
    text-align: center;
    font-size: 20px;
    color: var(--secondary-grey);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;

    animation-name: slideInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 1.8s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

#tab2 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the right side */
    align-items: center;
}

#tab2 h2 {
    color: var(--main-blue);
    text-align: center;
    font-size: 40px;
    margin-top: 80px; /* 100 to 80 on plane */
    font-family: 'Nanum Myeongjo', serif;
    /* margin-left: 150px; */
}

#tab2 p {
    text-align: center;
    /* margin-left: 100px; */
    margin-top: 30px;
    font-size: 20px;
    color: var(--secondary-grey);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

.clock-background {
    margin-top: 70px;
    position: relative;
    background: var(--clock-grey);
    /* min-height: 500px; */
    max-width: max-content;
    width: auto;
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.75), 
    10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    position: relative;
    width: 400px;
    height: 400px;
    background: var(--clock-grey);
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-blue);
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1000;
}

.clock span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--main-blue);
    text-align: center;
    inset: 20px;
    transform: rotate(calc(30deg * var(--i)));
}

.clock span b {
    font-size: 2em;
    opacity: 0.75;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.circle {
    position: absolute;
    width: 266px;
    height: 266px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    top: 16.7%; 
    left: 16.7%; 
    transform: translate(-20%, -20%); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: var(--clr);
    opacity: 0.95;
    font-weight: 500;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i {
    width: 3px;
}

.circle:nth-child(2) i {
    width: 6px;
}

.circle2 {
    width: 213px;
    height: 213px;
    z-index: 9;
    top: 23.4%;
    left: 23.4%;
}

.circle3 {
    width: 160px;
    height: 160px;
    z-index: 8;
    top: 30%;
    left: 30%;
}

.circle::before {
    content: '';
    position: absolute;
    top: -8.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}

/* digital clock style */
#time {
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
}

#time div {
    position: relative;
    width: 50px;
    text-align: center;
    font-weight: 600;
    color: var(--clr);
}

#time div:nth-child(1)::after, 
#time div:nth-child(2)::after {
    content: ':';
    position: absolute;
    right: -4px;
}

#time div:last-child {
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#time div:nth-child(2)::after {
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#nasaLogo {
    display: flex;
    align-items: center;
}

#nasa-img {
    margin-top: 100px;
    width: 45%;
    height: auto;
    position: relative;
    top: 0; /* Positions the image at the top */
    left: 0; /* Positions the image at the left */
    filter: brightness(80%);
    margin-right: 20px;
}

#nasa-title {
    font-size: 36px;
    margin-top: 100px;
    color: rgb(193, 21, 21);
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
}

#nasa-display {
    display: flex;
    align-items: center;
}

#img-display {
    width: 100%;
}

#tab3 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end; /* Align items to the right side */
    align-items: center;
}

#tab3 h2 {
    color: var(--main-blue);
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    font-family: 'Nanum Myeongjo', serif;
}

#tab3 p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: var(--secondary-grey);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

#tab4 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the right side */
    align-items: center;
}

#tab4 h2 {
    color: var(--main-blue);
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    font-family: 'Nanum Myeongjo', serif;
}

#tab4 p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: var(--secondary-grey);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

#drone-background {
    margin-top: 75px;
    width: 45%; /* was 100% PLANE MOD*/
    height: 90vh; /* was 50 PLANE MOD*/
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/los-angeles-skyline-at-night-ferrantraite.jpg);
    background-position: center;
    background-size: cover;
    max-height: 600px;
}

#drone-box {
    margin: 150px auto;
    width: 200px;
    transition: 2s;
    position: relative;
}

.drone-img {
    width: 90%;
}

.drone-left {
    width: 70px;
    position: absolute;
    left: -10px;
    top: 0px;
    animation: droneRotate .2s linear infinite;
}

.drone-right {
    width: 70px;
    position: absolute;
    right: 10px;
    top: 0px;
    animation: droneRotate .2s linear infinite;
}

@keyframes droneRotate {
    100% {
        transform: rotateY(360deg);
    }
}
  
#tab5 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end; /* Align items to the right side */
    align-items: center;
}

#tab5 h2 {
    color: var(--main-blue);
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    font-family: 'Nanum Myeongjo', serif;
}

#tab5 p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: var(--secondary-grey);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
}

.glass-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: max-content; */
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 50px;
}

.glass-card {
    position: relative;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}

.glass-content {
    padding: 20px;
    color: var(--secondary-grey);
    text-align: center;
    /* transform: translateY(200px);
    opacity: 0;
    transition: 0.5s; */
}

/* .glass-container .glass-card:hover .glass-content {
    transform: translateY(0px);
    opacity: 1;
} */

.glass-content h2 {
    color: var(--main-blue);
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Nanum Myeongjo', serif;
}

.glass-content p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: var(--secondary-grey);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

@keyframes slideInDown {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(850px);
    }

    to {
        transform: translateX(0px);
    }
}