:root {
    --main-red: rgb(193, 21, 21);
    --main-grey: rgb(72, 72, 72);
    --main-blue: rgb(23, 91, 147);
    --secondary-grey: rgb(197, 197, 197);
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
}
  
main > *:not(#footer) {
    flex: 1; 
}

body {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

nav {
    font-family: 'Ruwudu', serif;
}

#offcanvasNavbarLabel {
    font-size: 30px;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

/* Main */
#landing {
    margin-top: 50px;
}

#home {
    position: relative;
    width: 80%;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    flex-direction: column;
}

#home p {
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px; */
    font-size: 20px;
    color: var(--secondary-grey);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    /* padding-left: 150px; */
    /* padding-right: 500px; */
    width: 70%;
    text-align: center;

    animation-name: slideInDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: .9s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

/* @media (min-width: 768px) {
    #home p {
        padding-left: 150px;
        width: 50%;
    }
} */

#home h1 {
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px; */
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    /* padding-left: 150px;
    padding-right: 500px; */

    animation-name: slideInDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: .3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

#home h2 {
    color: var(--secondary-grey);
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    /* padding-left: 150px;
    padding-right: 500px; */
    width: 70%;
    text-align: center;


    animation-name: slideInDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: .6s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

#home h6 {
    margin-top: 50px;

    font-size: 25px;
    color: var(--main-blue);
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    /* padding-left: 150px;
    padding-right: 500px; */

    animation-name: slideInDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
}

.contact-section {
    animation-name: slideInDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    margin-bottom: 50px;
}

.contact-section img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    transition: filter 0.3s ease; /* Add a smooth transition effect */
    color: var(--main-blue);

    transition: transform 0.3s ease-in-out 0s;
}

.contact-section img:hover {
    filter: brightness(1.5); /* Adjust the value to make the icon brighter on hover */
    transform: translateY(-10px);
}

.contact-section a {
    text-decoration: none;
}

@keyframes slideInDown {
    from {
        transform: translateY(1400px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(850px);
    }

    to {
        transform: translateX(0px);
    }
}

.about-me-header1 {
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    color: #fff;
}

.project-section {
    padding: 10px 10px;
    border: 2px solid #4a4a4a;
    background-color: rgb(193, 193, 193);
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 35px;
}

.project-section header {
    text-align: center;
    background: #490000;
    color: #fff;
    padding: 15px;
    border-radius: 35px 35px 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.project-section p {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

.project-section ul li a {
    margin-left: 15px;
    font-size: 15px;
    line-height: 2.0;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#featurePageNav {
    position: fixed;
    top: 0; 
    left: 0;
}

/* Project */
#aboutProjects {
    text-align: center;
    align-items: flex-start;    
    background-color: black;
    padding: 25px;
}

#aboutProjects p {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 40px;
    padding-bottom: 10px;
}


#goToIndexBtn:hover {
    background-color: var(--main-grey)
}

/* Style for the button container */
#goToIndexBtn {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    background-color: var(--main-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
  }

  /* Optional: Adjust the size and position of the button if needed */
  /* For example, to align the button to the left */
  #goToIndexBtn {
    float: left;
  }
  
  /* Optional: Add some spacing around the button if needed */
  /* For example, to add some space to the right of the button */
  #goToIndexBtn {
    margin-right: 10px;
  }

  #particles-js{
    width: 100%;
    height: 100%;
    /* background-color: #3c4854; */
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }


