main {
    flex: 1; 
    display: flex;
    flex-direction: column;
}
  
main > *:not(#footer) {
    flex: 1; 
}

body {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
  
nav ul li {
    flex: 1;
}
  
nav ul li a {
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 20px;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #490000;
}

#about {
    display: flex;
    align-items: flex-start;    
    background-color: black;
    padding: 25px;
    margin-bottom: 50px;
}

#about img {
    width: 500px;
    height: auto;
    margin-right: 20px;
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 5px solid #490000;
    padding: 5px;
}

#about p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 18px;
    color: white;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
}

.project-section {
    padding: 10px 10px;
    border: 2px solid #4a4a4a;
    background-color: rgb(193, 193, 193);
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 35px;
}

.project-section header {
    text-align: center;
    background: #490000;
    color: #fff;
    padding: 15px;
    border-radius: 35px 35px 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.project-section p {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#resume {
    color: #fff;
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resume header {
    font-size: 20px;
    margin-bottom: 20px;
    background: #490000;
    color: #fff;
    padding: 15px;
    border-radius: 35px 35px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
    width: 52%;
    box-sizing: border-box; 
    text-align: center;
}

.iframe-container {
    width: 55%;
    height: auto; 
    margin-bottom: 50px; 
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

